
<h1>
  {{title}}
</h1>
<select (change)="onFilterChange($event.target.value)">
  <option value="all">All</option>
  <option value=">2">mature - above 2</option>
  <option value="<2">young - below 2</option>
</select>
<div *ngFor="let animal of animals | age:filterValue" >
  <view-animal *ngIf="animal!==currentEditAnimal" [animal]="animal" (editAnimalEvent)="editAnimal($event)"></view-animal>
  <edit-animal *ngIf="animal===currentEditAnimal" [animal]="animal" (saveAnimalEvent)="saveAnimal()"></edit-animal>
</div>


<add-animal (newAnimalEvent)="addAnimal($event)"></add-animal>
